{% extends 'base.html.twig' %}

{% block title %}Confmateriel{% endblock %}

{% block body %}
    <h1>Confmateriel</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ confmateriel.id }}</td>
            </tr>
            <tr>
                <th>Datereservation</th>
                <td>{{ confmateriel.datereservation ? confmateriel.datereservation|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_confmateriel_index') }}">back to list</a>

    <a href="{{ path('app_confmateriel_edit', {'id': confmateriel.id}) }}">edit</a>

    {{ include('confmateriel/_delete_form.html.twig') }}
{% endblock %}
