{% extends 'base.html.twig' %}

{% block title %}Conf index{% endblock %}

{% block body %}
    <h1>Conf index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>DateConf</th>
                <th>DateAjout</th>
                <th>Statut</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for conf in confs %}
            <tr>
                <td>{{ conf.id }}</td>
                <td>{{ conf.titre }}</td>
                <td>{{ conf.description }}</td>
                <td>{{ conf.dateConf ? conf.dateConf|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ conf.dateAjout ? conf.dateAjout|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ conf.statut }}</td>
                <td>
                    <a href="{{ path('app_conf_show', {'id': conf.id}) }}">show</a>
                    <a href="{{ path('app_conf_edit', {'id': conf.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_conf_new') }}">Create new</a>
{% endblock %}
